<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MKSlideShop.ShowSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MKSlideShop.ShowSettings>
            <setting name="ShowTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BrowserPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MainLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SlideLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SlideTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SlideWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SlideHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SlideState" serializeAs="String">
                <value>0</value>
            </setting>
        </MKSlideShop.ShowSettings>
    </userSettings>
</configuration>